<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="nav-item" >
    <a href="#registro" class="nav-link active" aria-controls="registro" role="tab" data-toggle="tab">Registro</a>
  </li>
  <li role="presentation" class="nav-item">
    <a href="#contatos" class="nav-link" aria-controls="contatos" role="tab" data-toggle="tab">Contatos</a>
  </li>
  <li role="presentation" class="nav-item" >
    <a href="#ics445" class="nav-link" aria-controls="ics445" role="tab" data-toggle="tab">ICS 445</a>
  </li>
  <li role="presentation" class="nav-item">
    <a href="#documentos" class="nav-link" aria-controls="documentos" role="tab" data-toggle="tab">Documentos</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="registro">
    <app-bpm-registro-pj></app-bpm-registro-pj>
  </div>
  <div role="tabpanel" class="tab-pane" id="contatos">
    <app-bpm-contatos-pj></app-bpm-contatos-pj>
  </div>
  <div role="tabpanel" class="tab-pane" id="ics445">
    <app-bpm-ics-pj></app-bpm-ics-pj>
  </div>
  <div role="tabpanel" class="tab-pane" id="documentos">
    <app-bpm-documentos-pj></app-bpm-documentos-pj>
  </div>
</div>